#navbar .logo{
    float:none;
    text-align: center;
}
#navbar ul, #navbar ul li{
    float: none;
}
#navbar ul li a{
    padding: 5px;
    border-bottom: #444 dotted 1px;
}
#home-info{
    height: 500px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    float: none;
    width: 100%;
    height:150%;
}
.box{
    float: none;
    width: 100%;
}

/* About */
#info-right, #info-left{
    float: none;
    width: 100%;
}
#info-right{
    margin-top: 30px;
}
.l-heading{
    text-align: center;
}
#contact-info .box{
    border-bottom: #666 dotted 1.5px;
}
#showcase {
    height: 100%;
}
#showcase .showcase-content{
    text-align: center;
    padding: 70px;
}

